<section id="footer">
    <div class="wrap">
        <div class="fotter-wrapper">
            <div class="footer-title">
                <p>Trusted by 3+ million people at companies like</p>
            </div>
            <div class="footer-content">
                <div><img src="/assets/Netflix Logo.svg" alt="netflix logo"></div>
                <div><img src="/assets/Shopify Logo.svg" alt="netflix logo"></div>
                <div><img src="/assets/Spotify Logo.svg" alt="netflix logo"></div>
                <div><img src="/assets/Walmart Logo.svg" alt="netflix logo"></div>
            </div>
        </div>

    </div>
</section>
