<section id="hero">
    <div class="wrap">
        <div class="hero-wrapper">
            <div class="hero-content">
                <div class="hero-content__title">
                    <h1>
                        <span class="title-one">Ondeck is your remote</span><br>
                        <span class="title-two">Conference calling tool</span>
                    </h1>
                </div>
                <div class="hero-content__infos">
                    <p>Ondeck is a service that allow you to create beautiful, online, and encrupted video calls for you
                        and your remote team.</p>
                </div>
                <div class="hero-content__button">
                    <button class="btn-one">Try for free</button>
                </div>
                <div class="hero-content__more">
                    <p>5.0 Rating based on reviews form:
                        <span><img src="/assets/Capterra Logo.svg" alt="logo shop"></span>
                        <span><img src="/assets/AlternativeTo Logo.svg" alt="logo shop"></span>
                        <span><img src="/assets/shopify-logo.svg" alt="logo shop"></span>
                    </p>
                </div>
            </div>
            <div class="hero-card">
                <div class="hero-card__card">
                    <img src="/assets/Hero Image.png" alt="avatar card">
                </div>
            </div>
        </div>
    </div>
</section>
